::-moz-selection {
    color: $clr-yellow;
    background: $clr-base;
}

::selection {
    color: $clr-yellow;
    background: $clr-crust;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: $font-family-1;
    font-size: $font-size-base;
    color: $clr-text;
    background-color: $clr-base;
}

.max-width-layout {
    margin-inline: auto;
    padding-inline: e_clamp(20rem, 102.25rem, 1rem, 9rem);
    max-width: 102.25rem;

    @include respond_from(108rem) {}
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: $clr-crust;
}

.footer-wrap,
.content-wrap {
    margin-top: 4rem;
    width: 100vw;
    padding-block: 1rem;
}

.content-wrap {
    margin-bottom: e_clamp(20rem, 108rem, 3rem, 10rem);
}

.footer-wrap {
    margin-top: auto;
}