{block header}
	<div class="logo-wrap">
		<img src="/Resources/assets/logos/logo.webp" class="logo-img"/>
		<img src="/Resources/assets/logos/logo-text.webp" class="logo-img-text"/>
	</div>
	<nav class="menu" id="menu">
		<button id="menu-categories-button">Categories</button>
		<div id="menu-categories-content"></div>
	</nav>
{/block}