{block item}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Basispreis</th>
        </tr>
        <tr>
            <td>{$item->getItemId()}</td>
            <td>{$item->getItemName()}</td>
            <td>{$item->getItemBasePrice()}</td>
        </tr>
    </table>
{/block}